@charset "UTF-8";a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
html {
    line-height: 1
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
td,
th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
undefined article {
    display: block
}
@font-face{font-family:ct;src:url(/assets/fonts/ct.eot?-x36148);src:url(/assets/fonts/ct.eot?#iefix-x36148) format("embedded-opentype"),
url(/assets/fonts/ct.ttf?-x36148) format("truetype"),
url(/assets/fonts/ct.woff?-x36148) format("woff"),
url(/assets/fonts/ct.svg?-x36148#ct) format("svg");
font-weight:400;
font-style:normal
}
body,
undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined html {
    background: #212121;
    display: block;
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always
}
body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    line-height: 24px;
    color: grey;
    z-index: 320;
    position: relative
}
@media (min-width: 564px) {
    body {
        z-index: 564
    }
}
@media (min-width: 768px) {
    body {
        font-size: 18px;
        line-height: 28px;
        z-index: 768
    }
}
@media (min-width: 964px) {
    body {
        z-index: 964
    }
}
@media (min-width: 1124px) {
    body {
        z-index: 1124
    }
}
undefined button {
    border: 0;
    background: 0 0;
    margin: 0;
    padding: 0
}
button:focus {
    outline-color: transparent;
    outline-style: none
}
button:hover {
    cursor: pointer
}
img {
    max-width: 100%;
    vertical-align: top
}
undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined undefined .page-wrapper {
    min-height: 100%;
    position: relative
}
.page-wrapper:after,
.page-wrapper:before {
    content: " ";
    display: table
}
.page-wrapper:after {
    clear: both
}
.homepage-page-wrapper {
    height: 100%;
    background: #212121;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9000;
    width: 100%;
    margin-left: 0;
    min-height: 0;
    filter: alpha(Opacity=0);
    opacity: 0
}
undefined undefined #homepage-page-overlay {
    filter: alpha(Opacity=100);
    opacity: 1;
    top: -100%;
    width: 100%;
    display: none;
    position: fixed
}
undefined .homepage #homepage-page-overlay {
    top: 0;
    display: block
}
undefined undefined .homepage-links {
    height: 168px;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto auto auto 20px;
    width: 95%
}
@media (min-width: 564px) {
    .homepage-links {
        height: 320px;
        margin-left: 40px
    }
}
@media (min-width: 768px) {
    .homepage-links {
        height: 440px
    }
}
@media (min-width: 964px) {
    .homepage-links {
        height: 480px;
        margin-left: 60px
    }
}
@media (min-width: 1124px) {
    .homepage-links {
        height: 560px
    }
    .homepage-links:hover .homepage-link {
        color: #333
    }
    .homepage-links:hover .homepage-link:hover {
        color: #fff
    }
}
.homepage-link {
    display: block;
    position: relative;
    color: #fff;
    background: 0 0;
    border: none;
    cursor: pointer;
    font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
    font-style: normal;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: .06em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}
.homepage-link .homepage-link-tagline {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    filter: alpha(Opacity=0);
    opacity: 0;
    width: 100%
}
.homepage-link:hover .homepage-link-tagline {
    filter: alpha(Opacity=100);
    opacity: 1
}
@media (min-width: 564px) {
    .homepage-link {
        font-size: 60px;
        line-height: 80px
    }
}
@media (min-width: 768px) {
    .homepage-link {
        font-size: 90px;
        line-height: 110px
    }
}
@media (min-width: 964px) {
    .homepage-link {
        font-size: 100px;
        line-height: 120px
    }
}
@media (min-width: 1124px) {
    .homepage-link {
        font-size: 120px;
        line-height: 140px
    }
}
.homepage-link-tagline {
    display: none;
    position: absolute;
    bottom: -24px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 35px;
    height: 52px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: .02em
}
@media (min-width: 768px) {
    .homepage-link-tagline {
        display: block;
        bottom: -24px;
        font-size: 16px;
        line-height: 35px
    }
}
.homepage-link-tagline-title:after,
.homepage-link-tagline-title:before {
    letter-spacing: -.08em
}
